---
layout: default
---
<div class="row">
	<div id="side-menu" class="col-md-3">
		<div class="list-group">
		    <a href="/audio-visual" class="list-group-item">Audio Visual</a>
		    <a href="/videos" class="list-group-item">Videos</a>
		    <a href="/media" class="list-group-item">Media Diffusion</a>
		    <a href="/social-media" class="list-group-item">Social Media</a>
		    <a href="/events" class="list-group-item">Events & Organisation</a>
		    <a href="/editorial" class="list-group-item">Editorial & New Content</a>
		</div>
	</div>
	<div id="text" class="col-md-9">
		{% if page.heading %}<h1 class="no-top">{{ page.heading }}</h1>{% endif %}
		{{ content }}
	</div>
</div>
